$white: white;
$grey: #EBEBEB;
$dark-grey: #D5D5D5;
$orange: #FFB091;
$red: #FFA3A0;
$orange-red: linear-gradient(135deg, #ffb8a0 0%, #ffa3a0 100%);
$border-radius: 5px;

html, body {
	height: 100%;
	margin: 0;
	font-family: Source Code Pro;
	font-size: 1.5rem;

	display: flex;
	flex-direction: column;

	h2 {
		margin-top: 200px;
	}

	.h1, .h2, .h3, .h4, .h5, .h6 {
		text-align: center;
		font-weight: bold;
	}
	.h1 {
		font-size: 3rem;
	}
	.h2 {
		font-size: 2.5rem;
	}
	.h3 {
		font-size: 2rem;
	}
	.h4 {
		font-size: 1rem;
	}
	.h5 {
		font-size: .7rem;
	}
	.h6 {
		font-weight: 600;
		font-size: 1rem;
	}

	.row {
		display: flex;
		justify-content: space-around;
	}
	img {
		display: block;
		margin: auto;
	}

	button {
		outline: 0;
		border: 0;
		background: $orange;
		border-radius: $border-radius;
		font-weight: bold;
		margin: auto;
		display: block;
		padding: 10px;
		font-size: 1.5rem;
		transition-duration: .3s;
		// box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	button:hover {
		transform: translateY(-3px);
	}
	button:active {
		transform: translateY(4px);
	}

	a.button {
		text-decoration:  none
	}
}

.page {
	position: relative;
	overflow-x: hidden;
}

.svg {
	position: absolute;
	width: 100%;
	height: 120%;
}

.header {
	position: relative;
	height: 600px;
	p {
		color: $white;
		padding-top: 100px;
		margin: 0;
	}
	img {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
	}
	.banner {
		background: $orange-red;
		position: absolute;
		width: 100%;
		height: 113%;
		z-index: -1;
	}
	.circle {
		position: absolute;
		background: $white;
		height: 200px;
		border-radius: 100%;
		bottom: 0;
		transform: translateY(100%);

		// set by sun.ts
		// width: 120%;
		// left: -10%;
	}
}

.title {
	position: relative;
	img {
		padding-top: 40px;
		padding-bottom: 60px;
	}
	button {
		font-size: 2rem;
	}
}

.description {
	.frame {
		background: $grey;
		padding: 20px;
		margin: 0;
		margin-top: 100px;
	}
}

.main {
	position: relative;

	.pipes {
		justify-content: center;
		position: relative;
		z-index: 10;
		// z-index:
	}
	.pipe {
		// z-index: -1;
		margin: 0 6%;
		.shaft {
			margin: auto;
			background: $grey;
			width: 86;
		}
		.end {
			background: $dark-grey;
			height: 70;
			width: 138;
			border-radius: $border-radius;
			margin: auto;
		}
		&.center .shaft {
			height: 100;
		}
		&.left .shaft, &.right .shaft {
			height: 200;
		}
		$translateY: -60px;
		$rotation: 30deg;
		&.left {
			transform: translateY($translateY) rotate(-$rotation);
		}
		&.right {
			transform: translateY($translateY) rotate($rotation);
		}
	}
	.labels {
		justify-content: center;
		* {
			margin: 0 4%;
		}
	}
	.tube {
		// height: 1000px;
		background: $grey;
		width: 30%;
		margin: auto;
		margin-top: 200px;
		border: 30px solid $dark-grey;
		border-top: 0;
		.empty {
			height: 300px;
		}
		.seperator {
			width: 110%;
			left: -5%;
			background: $dark-grey;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}
		.awards {
			// height: 300px;
			// img {
			// 	height: 100%;
			// }
			.small-awards {
				// height: 100%;
				// width: 100%;
			}
			.small-awards * {
				// flex: 1;
				margin: 20px 0;
				img {
					height: 100px;
					margin: auto;
				}
			}
			.big-award {
				img {
					height: 200px;
				}
			}
		}
	}
}
.schedule {
	.schedule {
		margin-left: 20%;
		justify-content: unset;
	}
	.timestrip {
		background: linear-gradient(180deg, #ffb8a0 0%, #ffa3a0 100%);
		// height: 100%;
		width: 60px;
		border-radius: $border-radius;
		margin-right: 80px;
	}
	.times * {
		margin: 20px 0;
	}
	&.times:last-child {
		margin-bottom: 0;
	}
	.time {
		font-weight: bold;
		margin-right: 30px;
	}
}
.faq {
	.row {
		justify-content: center;
	}
	.tiles {
		margin: auto;
		width: 80%;
	}

	.tile {
		background: $grey;
		border-radius: $border-radius;
		width: 30%;
		height: 300px;
		margin: 15px;
	}
}

.about {
	p {
		width: 70%;
		margin: auto;
		text-align: justify;
	}
	img {
		margin: auto;
		margin-top: 80px;
		margin-bottom: 150px;
		width: 400px;
	}
}

.page {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
	background: $grey;
	a {
		color: black;
	}
}
