$white: white;
$grey: #EBEBEB;
$dark-grey: #D5D5D5;
$orange: #FF9D9D;
$purple: #6A5079;
$red: #ff6d68;
$orange-red: linear-gradient(135deg, #ffb8a0 0%, #ffa3a0 100%);
$border-radius: 5px;
$blue: rgb(55, 66, 80);
$width: 60vw;
$width-2: 80vw;
$primary-font: Source Code Pro;
$title-font: Source Code Pro;

@mixin absolute() {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: $primary-font;
	font-size: 1.5rem;

	display: flex;
	flex-direction: column;

	* {
		-webkit-margin-before: 0;
    -webkit-margin-after: 0;
	}

	p {
		margin: 0;
	}

	h2 {
		margin-top: 180px;
		margin-bottom: 50px;
		@media (max-width: 500px) {
			margin-top: 100px;
		}
	}

	.h1, .h2, .h3, .h4, .h5, .h6 {
		text-align: center;
		font-weight: bold;
		font-family: $title-font;
	}
	.h1 {
		font-size: 3rem;
	}
	.h2 {
		font-size: 1.5rem;
	}
	.h3 {
		font-size: 1rem;
	}
	.h4 {
		font-size: .7rem;
	}
	.h5 {
		font-size: .7rem;
	}
	.h6 {
		font-weight: 600;
		font-size: .6rem;
	}

	@media (max-width: 1200px) {
		p {
			font-size: 1rem;
		}
	}
	@media (max-width: 500px) {
		p {
			font-size: .8rem;
		}

		.h1 {
			font-size: 2rem;
		}
		.h2 {
			font-size: 1.2rem;
		}
	}
	@media (max-width: 350px) {
		.h1 {
			font-size: 1.5rem;
		}
		.h2 {
			font-size: .8rem;
		}
	}

	.row, .column {
		display: flex;
		justify-content: space-around;
	}
	.column {
		flex-direction: column;
	}
	img {
		display: block;
		margin: auto;
	}

	input {
		outline: 0;
		border: 0;
		font-size: 1.5rem;
		border-radius: $border-radius;
		font-family: $title-font;
		background: $grey;
		// padding: 5px;
	}

	button {
		outline: 0;
		border: 0;
		background: $red;
		border-radius: $border-radius;
		font-weight: bold;
		margin: auto;
		display: block;
		padding: 10px;
		font-size: 1.5rem;
		transition-duration: .3s;
		font-family: $title-font;
		// box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		cursor: pointer;
	}
	button:hover {
		transform: translateY(-3px);
	}
	button:active {
		transform: translateY(4px);
	}

	a.button {
		text-decoration:  none
	}
}

.page {
	position: relative;
	overflow-x: hidden;
}

.svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.header {
	position: relative;
	height: 600px;
	@media (max-width: 500px) {
		height: 500px;
	}
	@media (max-width: 300px) {
		height: 400px;
	}
	p {
		color: $white;
		padding-top: 100px;
		margin: 0;
	}
	img {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		@media (max-width: 600px) {
			width: 25vw;
		}
	}
	.banner {
		position: absolute;
		width: 100%;
		height: 113%;
		z-index: -1;
	}
	.circle {
		position: absolute;
		background: $white;
		height: 200px;
		border-radius: 100%;
		bottom: 0;
		transform: translateY(100%);

		// set by sun.ts
		// width: 120%;
		// left: -10%;
	}
}

.title {
	position: relative;
	img {
		padding-top: 40px;
		padding-bottom: 50px;
		@media (max-width: 600px) {
			width: 60vw;
			padding-top: 20px;
		}
	}
	button {
		@media (max-width: 600px) {
			font-size: 1rem;
    }
    margin: 0 10px;
  }
  .buttons {
    justify-content: center;
  }
	.deadline {
		margin-top: 10px;
	}
	form {
		margin-top: 40px;
		.row {
			justify-content: center;
		}
		input {
			margin-right: 20px;
			max-width: 40%;
			text-align: center;
			// height: 100%;
			@media (max-width: 600px) {
				font-size: .8rem;
				&::placeholder {
					font-size: .8rem;
				}
			}
		}
		input::placeholder {
			text-align: center;
		}
		button {
			margin: 0;
		}
	}
}

.description {
	.frame {
		background: $grey;
		padding: 20px;
		margin: 0;
		margin-top: 100px;
	}
}

.main {
	position: relative;

	.pipes {
		justify-content: center;
		position: relative;
		z-index: 10;
	}
	.pipe {
		// z-index: -1;
		margin: 0 2%;
		.shaft {
			margin: auto;
			background: $grey;
			width: 70px;
			height: 100px;
			@media (max-width: 500px) {
				width: 60px;
			height: 80px;
			}
			@media (max-width: 400px) {
				width: 40px;
			}
		}
		.end {
			background: $dark-grey;
			height: 60px;
			width: 120px;
			border-radius: $border-radius;
			margin: auto;
			@media (max-width: 500px) {
				width: 100px;
				height: 50px;
			}
			@media (max-width: 400px) {
				width: 70px;
				height: 40px;
			}
		}
		.label {
			margin-top: 50px;
			position: relative;
		}
		// .label:after {
		// 	content: "";
		// 	// background: white;
		// 	// filter: blur(5px);
		// 	@include absolute();
		// 	z-index: -1;
		// }
	}
	.empty {
		height: 300px;
	}
	.seperator {
		width: 60vw;
		background: $grey;
		// text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		position: relative;
		margin: auto;
		padding: 20px;
		border-radius: $border-radius;
		@media (max-width: 400px) {
			width: 90vw;
		}
	}
	.awards-group {
		margin-top: 70px;
		// height: 300px;
		// img {
		// 	height: 100%;
		// }

		.small-awards {
			justify-content: center;
			// height: 100%;
			// width: 100%;
		}
		.small-awards * {
			margin: 0 3%;
			// flex: 1;
			// margin: 20px 0;
			img {
				height: 100px;
				margin: auto;
				@media (max-width: 500px) {
					height: 50px;
				}
			}
		}
		.big-award {
			margin-top: 50px;
			img {
				height: 200px;
			}
		}
		.label {
			margin: 0 auto;
			margin-top: 20px;
			@media (max-width: 500px) {
				font-size: .5rem;
			}
		}
	}
}
.schedule {
	position: relative;
	.svg {
		z-index: 10;
	}
	.schedule {
		width: $width;
		@media (max-width: 1300px) {
			width: $width-2;
		}
		margin: auto;
		justify-content: unset;
	}
	.sun {
		margin-left: 80px;
		@media (max-width: 800px) {
			margin-left: 40px;
		}
		@media (max-width: 500px) {
			margin-left: 0;
		}
	}
	.timestrip {
		// background: linear-gradient(to bottom, $orange 0%, $blue 50%, $orange 100%);
		// height: 100%;
		// width: 60px;
		// border-radius: $border-radius;
		// margin-right: 6vw;
		// width: 5px;
		border: 3px solid black;
		@media (max-width: 800px) {
			border-width: 2px;
		}
		@media (max-width: 500px) {
			display: none;
		}
	}
	.times * {
		margin-bottom: 10px;
		@media (max-width: 500px) {
			margin-bottom: 5px;
		}
	}
	& .times :last-child {
		margin-bottom: 0;
	}
	.time {
		font-weight: 600;
		margin-right: 30px;
		font-family: $title-font;
	}
}
.location {
	#map {
		width: 700px;
		height: 400px;
		margin-right: 60px;
		@media (max-width: 1200px) {
			width: 100%;
			margin: auto;
		}
	}
	.background {
		height: 400px;
		width: 100vw;
		background: $purple;
		padding: 0;
		@media (max-width: 1200px) {
			padding: 20px 0;
			display: block;
			height: unset;
		}
		justify-content: center;
	}
	p {
		font-weight: normal;
		text-align: justify;
		align-self: center;
		background: $purple;
		color: white;
		flex-basis: 30%;
		@media (max-width: 1200px) {
			padding: 30px 60px;
		}
		@media (max-width: 500px) {
			font-size: .8rem;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
.faq {
	.row {
		justify-content: center;
	}
	.column {
		justify-content: flex-start;
	}
	.tiles {
		margin: auto;
		// width: 80%;
	}

	.tile {
		width: 25vw;
		margin: 15px;

		h3 {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		// height: 300px;
			padding: 30px;
			padding-bottom: 10px;
			margin-top: 0;
			// margin-bottom: 10px;
			text-align: left;
			background: $dark-grey;
			font-size: 1.2rem;
		}
		p {
			border-radius: $border-radius;
			background: $grey;
			padding: 30px;
			font-size: 1rem;
		}
		@media (max-width: 1200px) {
			width: 27vw;
			margin: 10px;
			p {
				font-size: .8rem;
				padding: 20px;
				padding-top: 20px;
			}
			h3 {
				padding: 20px;
				padding-bottom: 10px;
				font-size: .9rem;
			}
		}
	}
	@media (max-width: 900px) {
		.row {
			flex-direction: column;
			.tile {
				width: 90vw;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.thanks {
	.row {
		align-items: center;
		justify-content: center;
	}
	img {
		margin: 2% 3%;
	}
	.large * {
    width: 40%;
  }
  .large .small {
    width: 30%;
  }
	.small * {
		width: 20%;
  }
  p {
    margin: 0 10%;
    margin-top: 40px;
    @media (max-width: 1300px) {
      font-size: 1.5vw;
    }
  }
}

.about {
	p {
		width: $width;
		@media (max-width: 1300px) {
			width: $width-2;
		}
		margin: auto;
		text-align: justify;
	}
	img {
		margin: auto;
		margin-top: 80px;
		margin-bottom: 150px;
		width: 400px;
		@media (max-width: 600px) {
			width: 60vw;
		}
	}
}

.page {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
	background: $grey;
	a {
		color: black;
	}
	padding: 20px;
}
